#post {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.2em;
        position: absolute;
        width: 25rem;
        height: 30rem;
        border-style: solid;
        padding: 1em 0;
}

#postform {
        display: flex;
        flex-direction: column;
        align-items: center;
}

#postform>button {
        margin-top: 3em;
        width: 80%;
}

#postform>p {
        margin-bottom: 0.1em;
        color: #888;
}

#postform>input[type="text"] {
        height: 2em;
        width: 80%;
}

body>div {
        position: fixed;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
}

#input>#dropzone {
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 15px;
        width: 70%;
        height: 10rem;
        border: 2px dashed gray;
        display: flex;
        justify-content: center;
        align-items: center;
        color: gray;
}


#input{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;

}


#input>input[type="file"] {
        color:transparent;
        padding-left: 0.2em;
        margin-top: 47%;
        width: 77px;
}
