body>div {
        position: fixed;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.5);
}


#post {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 50rem;
        height: 35rem;
        border-style: solid black 2px;
        background:#d16547;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        padding: 1em 0;
        border-radius: 2em;
}

#postform {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        height: 90%;
}

#postform>button {
        margin-top: 3em;
        width: 80%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#postform>p {
        margin-bottom: 0.1em;
        color: #888;
}

#postform>input[type="text"] {
        height: 2em;
        width: 80%;
}



#input{
    display: grid;
    grid-template-columns: repeat(2,52%);
    width: 95%;
    height: 80%;
    align-items: center;
    justify-content: left;
}

#input>p{
    margin-left: 1em;
    font-size: large;
}

#input>#dropzone {
        width: 90%;
        height: 15rem;
        border: 2px dashed rgb(98, 98, 98);
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: gray;
        cursor:pointer;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(46, 46, 46, 0.412);
}
#dropzone img {
    width: 200%;
    height: 110%;
    object-fit: cover; 
}

#input>#text{
    margin-left: 1em;
    width: 90%;
    height: 90%;
    background-color: cornsilk;
    text-align: justify;
    border-color: darkgray;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


body>footer{
        position: fixed;
        bottom: 0;
}