footer{
    z-index: 0;
    bottom: 0;
    width: 100%;
    background-color: whitesmoke;
    text-align: center;
    padding: 1em;
    font-weight: bold;
    box-shadow: black 0px 3px 10px -2px;
    border-top: 2px solid black;
    font-family: "Funnel Display", sans-serif;
}