/* Header */

header {
        top:0;
        left:0;
        display: flex;
        justify-content: center;
        z-index: 3;
        position: fixed;
        width: 100%;
        height: 7rem;
        border-bottom-style: solid;
        box-shadow: rgba(0, 0, 0, 0.338) 0px 4px 40px -1px, rgba(0, 0, 0, 0.06) 0px 2px 40px -1px;
}

#searchbar {
        position: absolute;
        display: flex;
        top: 20%;
        width: 30%;
}

#searchbar>input[type="text"] {
        height: 3.4em;
        width: 100%;
        box-shadow: black 0px 3px 10px -2px;
}

#searchbar>#searchicon {
        background-color: white;
        border-radius: 20px;
        border: 1px solid darkgray;
        position: absolute;
        top: 10%;
        right: 1em;
        padding: 0.1em;
}

#logo {
        position: absolute;
        left: 1rem;
}



/* Aside */

aside {
        z-index: 2;
        position: fixed;
        height: 100%;
        width: 25%;
        right: 0;
        top: 5rem;
        border-left-style: solid;
        background-color: rgb(191, 181, 181);
}

/* Content */

section {
        z-index: 0;
        position: fixed;
        top: 5rem;
        overflow-y: scroll;
        height: 100%;
        right: 13rem;
        width: 100%;
        pointer-events: none;
}
/*Parte centrale dell'utente*/

#user {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    top: 7.1rem;
    left:0;
    right: 25%;
    height: 5rem;
    width: 73.3%;
    gap: 1rem;

    padding-top: 1rem;
    padding-bottom: 0.8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom: 1px solid black;
    background-color: white;

    box-shadow: black 0px 4px 40px -1px, rgba(0, 0, 0, 0.06) 0px 2px 40px -1px;
    overflow: visible;
}


#userform, #fastmsgform, #photoform {
        display: flex;
        align-items: center;
        gap: 1rem;
}

#userform{
        position:relative;
        z-index: 1;
        padding-bottom: 0.7rem;
}


#fastmsgform {
        flex:1;
}



#user>#userform>#userIcon {
        z-index: 1;
        width: 70;
        height: 70;
        padding: 0;
        border-radius: 50%;
        border: 1px solid #2B5275;
        flex-shrink: 0;
        background-color: white;
}
#user>#userform>#userIcon:hover {
        width: 70;
        height: 70;
        padding: 0;
        border-radius: 50%;
        flex-shrink: 0;
        box-shadow: #3C3F42 0px 0px 20px -1px;
        cursor: pointer;
}

#user>#userform>#userIcon img {
        width: 100%;
        height: 100%;
        object-fit: contain;
}

#userform>#userinfo{
        z-index: 0;
        display: none;
        position: absolute;
        top:55px;
        background-color: white; 

        padding: 10px;
        padding-top: 2rem;
        border: 1px solid #2B5275;
        border-radius: 8px;
        box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
        width: 170px; 
        text-align: center;
}



#user>#fastmsgform>#fastmsg{
        width: 70%;
        height: 60;
        border-radius: 15px;
        padding: 0 1rem;
        text-align: center;
        margin-left: 15%;
        background-color: #91979d81;
        box-shadow: black 0px 3px 10px -2px;
        
}
#user>#fastmsgform>#sendMessegeIcon{
        margin-left: 10%;
}


#user>#photoform{
        width: 55;
        height: 39.8;
}

#user>#fastmsgform>#sendMessegeIcon , #user>#photoform>#addPhoto {
        width: 55;
        height: 55;
        border-radius: 50%;
        background-color:rgba(0, 0, 0, 0.175);
        border: 1px solid #2B5275;
        padding: 0.2rem;
        flex-shrink: 0;
}
#user>#fastmsgform>#sendMessegeIcon:hover , #user>#photoform>#addPhoto:hover {
        width: 55;
        height: 55;
        border-radius: 50%;
        border: 1px solid black;
        box-shadow: #3C3F42 0px 0px 20px -1px;
        padding: 0.2rem;
        flex-shrink: 0;
        cursor: pointer;
}



#user>#fastmsgform>#sendMessegeIcon img , #user>#photoform>#addPhoto img {
        width: 100%;
        height: 100%;
        object-fit: contain;
}

#main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 25%;
    width: 75%;
    margin-top: 13.8rem;
    left:0;
    overflow-y: auto;
    min-height: calc(100vh - 13.8rem); 
    align-items: left;
    justify-content: left;

}


#main>#content{
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100%;
        flex:1;
        background-color: transparent;
        border: 1px solid pink;
}

#main>footer{
        margin-top: auto;
        bottom: 0;
        width: 100%;
        padding: 1rem 0;
}
