/* Header */

header {
        display: flex;
        justify-content: center;
        z-index: 2;
        position: fixed;
        width: 100%;
        height: 5rem;
        border-bottom-style: solid;
}

#searchbar {
        position: absolute;
        display: flex;
        top: 20%;
        width: 30%;
}

#searchbar>input[type="text"] {
        height: 3.4em;
        width: 100%;
}

#searchbar>#searchicon {
        background-color: white;
        border-radius: 20px;
        border: 1px solid darkgray;
        position: absolute;
        top: 10%;
        right: 1em;
        padding: 0.1em;
}

#logo {
        position: absolute;
        left: 1rem;
}

#login {
        position: absolute;
        right: 2rem;
        top: 1.2rem;
}

/* Aside */

aside {
        z-index: 1;
        position: fixed;
        height: 100%;
        width: 25vw;
        right: 0;
        top: 5rem;
        border-left-style: solid;
}

/* Content */

section {
        z-index: 0;
        position: fixed;
        top: 5rem;
        overflow-y: scroll;
        height: 100%;
        right: 13rem;
        width: 100%;
}
/*Parte centrale dell'utente*/
#user {
        z-index: 1;
        position:fixed;
        display: flex;
        gap: 1rem;
        padding: 0 2rem;
        box-sizing: border-box;
        top: 5rem;
        width: 100%;
        height: 13%;
        border-bottom: 1px solid black;
        align-items: center;
}


#user>#userIcon {
    width: 70;
    height: 70;
    padding: 0;
    border-radius: 50%;
    border: 1px solid white;
    background: transparent;
    flex-shrink: 0;
}
#user>#userIcon:hover {
    width: 70;
    height: 70;
    padding: 0;
    border-radius: 50%;
    border: 1px solid red;
    background: transparent;
    flex-shrink: 0;
    box-shadow: 2px 1px 5px #acacac;
}

#user>#userIcon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}



#user>#fastmsg{
        flex:1;
        max-width: 600px;
        height: 60;
        margin-left: 15rem;
        margin-right: 0.01rem;
        border-radius: 15px;
        padding: 0 1rem;
        text-align: center;
}

#user>form{
        width: 55;
        height: 39.8;
}

#user>#sendMessegeIcon , #user>form>#addPhoto {
        width: 55;
        height: 55;
        border-radius: 50%;
        background-color:transparent;
        border: 1px solid darkgray;
        padding: 0.2rem;
        flex-shrink: 0;
}
#user>#sendMessegeIcon:hover , #user>form>#addPhoto:hover {
        width: 55;
        height: 55;
        border-radius: 50%;
        background-color:transparent;
        border: 1px solid black;
        box-shadow: 2px 1px 5px #acacac;
        padding: 0.2rem;
        flex-shrink: 0;
}



#user>#sendMessegeIcon img , #user>form>#addPhoto img {
        width: 100%;
        height: 100%;
        object-fit: contain;
}
