#login {
        display: grid;
        grid-template-columns: repeat(2,42%);
        justify-content: center;
        padding: 0.2em;
        position: absolute;
        width: 45rem;
        height: 30rem;
        border-style: solid;
        padding: 1em 0;
}

#welcome{
        display: flex;
        flex-direction: column;
        align-items: center;    
        height: 100%;           
        text-align: left;
}
#welcome>h1{
        font-size: 45;
        text-align: center;
}
#welcome>p{
        font-family: 'Times New Roman', Times, serif;
        font-style: italic;
        font-size: 23;
}

#loginform{
        justify-content: center;
        align-self: center;
}

#loginform>h1{
        text-align: center;
}

#loginform>p {
        margin-bottom: 0.1em;
        color: #888;
}

#loginform>label>input[type="text"] {
        height: 2.2em;
        width: 100%;
        font-size: 20;
        border-radius: 20px;
}
#loginform>label>input[type="password"] {
        height: 2.2em;
        width: 100%;
        font-size: 20;
        border-radius: 20px;
}
#loginform>input[type="submit"] {
        border-radius: 1px;
        margin-top: 3em;
        border-radius: 20px;
        width: 100%;
}

body>div {
        position: fixed;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
}

body>footer{
        position: fixed;
        bottom: 0;
}