#login {
        display: flex;
        justify-content: center;
        padding: 0.2em;
        position: absolute;
        width: 25rem;
        height: 30rem;
        border-style: solid;
        padding: 1em 0;
}

#loginform>button {
        margin-top: 3em;
        width: 80%;
}

#loginform>p {
        margin-bottom: 0.1em;
        color: #888;
}

#loginform>input[type="text"] {
        height: 2em;
        width: 80%;
}

body>div {
        position: fixed;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
}

body>footer{
        position: fixed;
        bottom: 0;
}