#registration {
        display: grid;
        grid-template-columns: repeat(2,42%);
        justify-content: center;
        padding: 0.2em;
        position: absolute;
        width: 45rem;
        height: 30rem;
        border-style: solid;
        padding: 1em 0;
}

#welcome{
        display: flex;
        flex-direction: column;
        align-items: center;    
        height: 100%;           
        text-align: left;
}
#welcome>h1{
        font-size: 45;
        text-align: center;
}
#welcome>p{
        font-family: 'Times New Roman', Times, serif;
        font-style: italic;
        font-size: 23;
}

#regform{
        justify-content: center;
        align-self: center;
}

#regform>h1{
        text-align: center;
}

#regform>p {
        margin-bottom: 0.1em;
        color: #888;
}

#regform>label>input[type="text"] {
        height: 2.2em;
        width: 100%;
        font-size: 20;
        border-radius: 20px;
}
#regform>label>input[type="password"] {
        height: 2.2em;
        width: 100%;
        font-size: 20;
        border-radius: 20px;
}
#regform>input[type="submit"] {
        border-radius: 1px;
        margin-top: 3em;
        border-radius: 20px;
        width: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

body>div {
        position: fixed;
        width: 45rem;
        height: 30rem;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 7rem;
}

body>footer{
        position: fixed;
        bottom: 0;
}

#dropzone {
        width: 90%;
        height: 15rem;
        border: 2px dashed rgb(98, 98, 98);
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: gray;
        cursor:pointer;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(46, 46, 46, 0.412);
        margin-top: 2.5em;
}
#preview-container img {
    width: 200%;
    height: 110%;
    object-fit: cover; 
}

#back{
    align-self: flex-end;
    z-index: 2;

}
