html, body {
        margin: 0;
        padding: 0;
        background: linear-gradient(to bottom, #f1d295cf, #FFFBDD);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


input[type="text"], button {
        border-radius: 20px;
        border: 1px solid rgb(78, 78, 78);
}

input[type="text"]:focus {
        outline: none;
        border: 2px solid rgba(143, 31, 31, 0.758);

}

button {
        padding: 0.7rem 1.2rem;
}


.panel {
        background-color: #d16547;
        border-color: #aaa;
        border-width: 1px;
}