html, body {
        margin: 0;
        padding: 0;
}

input[type="text"], button {
        border-radius: 20px;
        border: 1px solid darkgray;
}

input[type="text"]:focus {
        outline: none;
        border: 3px solid lightgreen;

}

button {
        padding: 0.7rem 1.2rem;
}


.panel {
        background-color: #ddd;
        border-color: #aaa;
        border-width: 1px;
}
