html, body {
        margin: 0;
        position: 0;
}

input[type="text"], button {
        border-radius: 20px;
        border: 1px solid darkgray;
}

input[type="text"]:focus {
        outline: none;
        border: 3px solid lightgreen;

}

button {
        padding: 0.7rem 1.2rem;
}


.panel {
        background-color: #ddd;
        border-color: #aaa;
        border-width: 1px;
}

/* Header */

header {
        display: flex;
        justify-content: center;
        z-index: 2;
        position: fixed;
        width: 100%;
        height: 5rem;
        border-bottom-style: solid;
}

#searchbar {
        position: absolute;
        display: flex;
        top: 20%;
        width: 30%;
}

#searchbar>input[type="text"] {
        height: 3.4em;
        width: 100%;
}

#searchbar>#searchicon {
        background-color: white;
        border-radius: 20px;
        border: 1px solid darkgray;
        position: absolute;
        top: 10%;
        left: 90%;
        padding: 0.1em;
}

#logo {
        position: absolute;
        left:1%;
}

#login {
        position: absolute;
        right: 2%;
        top: 1.2rem;
}

/* Aside */

aside {
        z-index: 1;
        position: fixed;
        height: 100%;
        width: 13rem;
        right: 0;
        top: 5rem;
        border-left-style: solid;
}

/* Content */

#window {
        z-index: 0;
        position: fixed;
        top: 5rem;
        overflow-y: scroll;
        height: 100%;
        right: 13rem;
        width: 100%;
}
